* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    font-size: 200px;
    color: #fff;
    background-color: blue;
    border-radius: 50%;
}